rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Zdjęcia weselne - otwarty odczyt i zapis dla gości weselnych
    match /photos/{photoId} {
      allow read: if true;
      allow create: if request.resource.data.authorName is string;
      allow update: if true;
      allow delete: if true;
    }

    // Goście weselni - weryfikacja unikalności imion
    match /guests/{guestId} {
      allow read: if true;
      allow write: if true;
    }

    // Ustawienia wesela
    match /settings/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
